<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.theindiecorp.mango">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.InboxActivity"></activity>

        <service android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".activity.CommentActivity" />
        <activity
            android:name=".activity.AddSchoolActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".activity.MessageActivity" />
        <activity
            android:name=".activity.ProfileViewActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ProfileEditActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDMkENRSNWFdC66_4BwIFtmfTXm0aPJ_2s" />

        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SignUpActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ResetActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.EventViewActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.NewEventActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.BookmarksActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.AttendeeViewActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.NewArticleActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SchoolViewActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>