<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.theindiecorp.vconnect">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.theindiecorp.vconnect.activity.InboxActivity"
            android:theme="@style/AppTheme.NoActionBar"/>


        <activity android:name="com.theindiecorp.vconnect.activity.AddGroupActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name="com.theindiecorp.vconnect.activity.SendPostActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <service android:name="com.theindiecorp.vconnect.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.theindiecorp.vconnect.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name="com.theindiecorp.vconnect.activity.CommentActivity" />
        <activity
            android:name="com.theindiecorp.vconnect.activity.AddSchoolActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name="com.theindiecorp.vconnect.activity.MessageActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"  />
        <activity
            android:name="com.theindiecorp.vconnect.activity.ProfileViewActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.theindiecorp.vconnect.activity.ProfileEditActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDMkENRSNWFdC66_4BwIFtmfTXm0aPJ_2s" />

        <activity
            android:name="com.theindiecorp.vconnect.activity.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theindiecorp.vconnect.activity.SignUpActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.theindiecorp.vconnect.activity.ResetActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.theindiecorp.vconnect.activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.theindiecorp.vconnect.activity.EventViewActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.theindiecorp.vconnect.activity.NewEventActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.theindiecorp.vconnect.activity.BookmarksActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.theindiecorp.vconnect.activity.AttendeeViewActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.theindiecorp.vconnect.activity.NewArticleActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.theindiecorp.vconnect.activity.SchoolViewActivity"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>